@page
@model ForDZWebApp.Pages.Task5PageModel
@{
}

<h1>Countries</h1>

<ul class = "ul-style">
    @foreach (var country in Model.country)
    {
        <li class = "li-style">@country.Name - @country.Capital - @country.Population  - @country.Language</li>
    }
</ul>

<style>
   .ul-style {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.li-style {
  display: block;
  padding: 10px;
  margin-bottom: 5px;
  background-color: #f2f2f2;
  border-radius: 5px;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
  transition: all 0.3s ease;
}

.li-style:hover {
  background-color: #ddd;
  transform: scale(1.05);
}
</style>
